@charset "UTF-8";
/* ADMIN */

/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 65px;
}

/*
 * Typography
 */

h1 {
    margin-bottom: 20px;
    padding-bottom: 9px;
    border-bottom: 1px solid #eee;
}

/*
 * Sidebar
 */

.sidebar {
    position: fixed;
    top: 60px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    border-right: 1px solid #eee;
}

/* Sidebar navigation */
.sidebar {
    padding-left: 0;
    padding-right: 0;
}

.sidebar .nav {
    margin-bottom: 20px;
}

.sidebar .nav-item {
    width: 100%;
}

.sidebar .nav-item + .nav-item {
    margin-left: 0;
}

.sidebar .nav-link {
    border-radius: 0;
}

/*
 * Dashboard
 */

/* Placeholders */
.placeholders {
    padding-bottom: 3rem;
}

.placeholder img {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.link-bar{
    color: rgba(255,255,255,.5);
}

.link-bar:hover{
    color: rgba(255,255,255,.75);
}


.breadcrumb{
    font-size: 20px;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    background: transparent;
    margin-bottom: 0;
}
.breadcrumb>li {
    display: inline-block;

}
.breadcrumb a {
    color: rgba(255,255,255,.5); !important;
}
.breadcrumb > li a b {
    color: #cecece;
}

.breadcrumb a:hover, .breadcrumb > li a:hover b {
    color: #fff !important;
    text-decoration: none;
}

.breadcrumb > li + li::before {
    content: "•";
    color: #dadada;
}

