/* Index */
#topNav .navbar-collapse{
    float: none !important;
}

.form-control {
    border: #3072e0 2px solid !important;
}

.material-ico {
    padding-top: 12px;
}

section.centrale, .centrale {
    background: url(../imgs/bg.gif) 0 0 repeat !important;
}

section.border-top-section, .border-top-section {
    border-top: rgba(0, 0, 0, 0.1) 1px solid;
}

.box-attention {
    background: #FFF5CC;
    border: 1px solid #f0e6bf;
}

.linea-divisione {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, transparent, rgba(0, 0, 0, 0.2), transparent);
    background-image: -moz-linear-gradient(left, transparent, rgba(0, 0, 0, 0.2), transparent);
    background-image: -ms-linear-gradient(left, transparent, rgba(0, 0, 0, 0.2), transparent);
    background-image: -o-linear-gradient(left, transparent, rgba(0, 0, 0, 0.2), transparent);
    background-image: linear-gradient(left, transparent, rgba(0, 0, 0, 0.2), transparent);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d6d6d6', endColorstr='#d6d6d6', GradientType=0);
    margin-top: 2.5rem;
    margin-bottom: 2rem;
    border-top: 1px solid rgba(0, 0, 0, .1);
    box-sizing: content-box;
    overflow: visible;
}

.py-5p {
    padding-top: 5%;
}

#footer h4 {
    margin-bottom: 20px;
}

#footer p {
    line-height: 24px;
}

h2 a {
    color: #3072e0;
}

ul.blog-post-info{
    font-size: 16px !important;
}

ul.blog-post-info li>a, ul.blog-post-info li>a i{
    color: #3072e0 !important;
}

    /* Registrazione */

.line-height-normal {
    line-height: normal !important;
}

.header-form {
    display: block;
    position: relative;
    left: 0;
    top: 0;
    right: 0;
    z-index: 1000;
    font-size: 14px;
    background-color: #fff;
    border-bottom: rgba(0, 0, 0, 0.05) 1px solid;

    -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, .1) !important;
    -moz-box-shadow: 0 0 2px rgba(0, 0, 0, .1) !important;
    box-shadow: 0 0 2px rgba(0, 0, 0, .1) !important;

    -webkit-transition: all .800s;
    -moz-transition: all .800s;
    -o-transition: all .800s;
    transition: all .800s;
}

.header-form {
    margin: 0;
    background: -webkit-linear-gradient(top, #fff 1%, #f9f9f9 98%);
    background: linear-gradient(to bottom, #fff 1%, #f9f9f9 98%);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border-bottom: rgba(0, 0, 0, .07) 1px solid;
    padding: 15px 20px;
    font-size: 20px;
    font-weight: 400
}


.header-form {
    background:transparent !important;
}

label.input p,label.select p {
    margin-bottom: 5px;
}

label.input i.giu {
    top: 30px;
}

label.select i {
    top: 39px !important;
}

label p em {
    color: red;
}

.mt-32 {
    margin-top: 32px !important;
}

@media (min-width: 992px) {
    .w-1000 {
        width: 1000px;
    }
}

/* Lista Convenzioni */

.alfabeto {
    font-size: 25px;
    font-weight: 300;
    background-color: #eee;
}

/* Login page */

h4 a {
    color: #3072e0 ;
}

/* Lista offerte tirocinio */

.griggio{
    color: #888888 !important;
}

.select2-container--default .select2-selection--single{
    border: 2px solid rgb(48, 114, 224);
}

.b-blu{
    background-color: #3072e0 !important;
}

/* scheda azienda */

.testo-scuro{
    color: #252525 !important;
}

.testo-chiaro{
    color: #555555 !important;
}

h4.testo-scuro p {
    margin-bottom: 15px;
}

/* il mio account tirocinante */

.account-settings {
    border-radius: 4px;
    border: 1px #ddd solid;
    background-color: #fff;
    width: 32%;
    margin-bottom: 20px;
}

.account-settings-item {
    padding: 24px 24px 20px 24px;
    margin: 0px;
}

.account-settings:hover {
    background: #eee;
}

/* modulistica */

.input-modulo {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    background-color: transparent;
    color: rgba(0, 0, 0, 0.87);
    border: none;
    border-bottom: 1px solid rgba(65, 65, 65, 1);
    outline: none;
    width: 100%;
    padding: 0;
    margin-top: 5px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0px;
    font-size: 20px;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    line-height: inherit;
    background-image: none;
    height: 23px;
}

.input-modulo:focus {
    border-color: #3072e0;
}

.Taviraji {
    font-family: 'Taviraj', serif !important;
}

.sergreteria-box{
    border-style: double;
    border-width:5px;
}

/*my account aziendale */

.h-95{
    height: 95px !important;
}

.w-95{
    width: 95px !important;
}

.h-85 {
    height: 85px !important;
}

.w-85 {
    width: 85px !important;
}


/* modifica creazione tirocinio */

.form-control-1 {
    border: #e5e5e5 1px solid !important;
}

.form-control-1:focus  {
    border: #3072e0 2px solid !important;
}

.fancy-hint-1{
    border-top: 0 !important;
}

.input input:focus{
    border-color: #3072e0 !important;
}

.select2-container--default .select2-selection--single{
    border-color: #e5e5e5 !important;
}

.select2-container--default:focus .select2-selection--single:focus{
      border-color: #3072e0 !important;
}

.select2-container--default:hover .select2-selection--single:hover{
    border-color: #3072e0 !important;
}

.select2-container--default:active .select2-selection--single:active{
    border-color: #3072e0 !important;
}

.grey{
    color: gray !important;
}

.error-404{
    text-shadow: 0px 1px 2px #3072e0;
}


