<?xml version="1.0" encoding="UTF-8"?>


<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <context-param>

        <param-name>data.source</param-name>

        <param-value>java:comp/env/jdbc/webdb2</param-value>

    </context-param>

    <context-param>
        <param-name>uploads.directory</param-name>
        <!-- Tomcat deve aver il permesso di scrittura su questa cartella-->
        <param-value>C:/Users/valer/IdeaProjects/IngWEB/gdellapeProject-master/web/uploads</param-value>
    </context-param>

    <resource-ref>
        <res-ref-name>jdbc/webdb2</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>

    <display-name>gdellapeProject</display-name>
    <!-- Init Servlet -->
    <welcome-file-list>
        <welcome-file>Home</welcome-file>
    </welcome-file-list>
    <!-- Fine Init Servlet -->
    <!-- filtri -->
    <!--<filter>-->
    <!--<filter-name>Utf8</filter-name>-->
    <!--<filter-class>filter.Utf8</filter-class>-->
    <!--</filter>-->
    <!--<filter-mapping>-->
    <!--<filter-name>Utf8</filter-name>-->
    <!--<url-pattern>/*</url-pattern>-->
    <!--</filter-mapping>-->
    <filter>
        <filter-name>AuthenticationFilter</filter-name>
        <filter-class>filter.AuthenticationFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <url-pattern>/account/*</url-pattern>
        <url-pattern>/pdfview/*</url-pattern>
        <url-pattern>/admin/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>AdmistrationFilter</filter-name>
        <filter-class>filter.AdmistrationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AdmistrationFilter</filter-name>
        <url-pattern>/admin/*</url-pattern>
    </filter-mapping>
    <!-- /filtri -->

    <!-- Servlet di home -->
    <servlet>
        <servlet-name>con</servlet-name>
        <servlet-class>controller.data</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>con</servlet-name>
        <url-pattern>/con</url-pattern>
        <url-pattern>/Con</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>login1</servlet-name>
        <servlet-class>controller.adm.LoginController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>login1</servlet-name>
        <url-pattern>/Login</url-pattern>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>controller.adm.LogoutController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>controller.HomeController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/home</url-pattern>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Tirocinio</servlet-name>
        <servlet-class>controller.SchedaTirocinioController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Tirocinio</servlet-name>
        <url-pattern>/Tirocinio</url-pattern>
        <url-pattern>/tirocinio</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>listaOfferte</servlet-name>
        <servlet-class>controller.ListaOfferteTutoraggiController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>listaOfferte</servlet-name>
        <url-pattern>/listaofferte</url-pattern>
        <url-pattern>/Listaofferte</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>prove</servlet-name>
        <servlet-class>controller.adm.BackEndController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>prove</servlet-name>
        <url-pattern>/prove</url-pattern>
        <url-pattern>/Prove</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Registrazione</servlet-name>
        <servlet-class>controller.adm.RegistrazioneController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Registrazione</servlet-name>
        <url-pattern>/registrazione</url-pattern>
        <url-pattern>/Registrazione</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Lista-Convenzioni</servlet-name>
        <servlet-class>controller.ListaConvenzioniController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Lista-Convenzioni</servlet-name>
        <url-pattern>/listaconvenzioni</url-pattern>
        <url-pattern>/ListaConvenzioni</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>SchedaAzienda</servlet-name>
        <servlet-class>controller.SchedaAziendaController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SchedaAzienda</servlet-name>
        <url-pattern>/schedaazienda</url-pattern>
        <url-pattern>/SchedaAzienda</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>myaccount</servlet-name>
        <servlet-class>controller.adm.BackEndController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>myaccount</servlet-name>
        <url-pattern>/account</url-pattern>
        <url-pattern>/Account</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ImpostazioniAccount</servlet-name>
        <servlet-class>controller.adm.BackEndImpostazioniAccountController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ImpostazioniAccount</servlet-name>
        <url-pattern>/account/impostazioni</url-pattern>
        <url-pattern>/Account/Impostazioni</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>BackEndModuliController</servlet-name>
        <servlet-class>controller.adm.BackEndModuliController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BackEndModuliController</servlet-name>
        <url-pattern>/account/moduli</url-pattern>
        <url-pattern>/Account/Moduli</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AziendaConvenzioneController</servlet-name>
        <servlet-class>controller.adm.Azienda.ConvenzioneController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AziendaConvenzioneController</servlet-name>
        <url-pattern>/account/moduli/convenzione</url-pattern>
        <url-pattern>/Account/Moduli/Convenzione</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ModuloFineTirocinioAziendaController</servlet-name>
        <servlet-class>controller.adm.Azienda.ModuloFineTirocinioAziendaController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ModuloFineTirocinioAziendaController</servlet-name>
        <url-pattern>/account/moduli/crea-fine-tirocinio</url-pattern>
        <url-pattern>/Account/Moduli/Crea-Fine-Tirocinio</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GestioneOfferteController</servlet-name>
        <servlet-class>controller.adm.Azienda.GestioneOfferteController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GestioneOfferteController</servlet-name>
        <url-pattern>/account/gestione-offerte</url-pattern>
        <url-pattern>/Account/Gestione-Offerte</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CreazioneOffertaController</servlet-name>
        <servlet-class>controller.adm.Azienda.CreazioneOffertaController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreazioneOffertaController</servlet-name>
        <url-pattern>/account/gestione-offerte/creazione-offerta</url-pattern>
        <url-pattern>/Account/Gestione-Offerte/Creazione-Offerta</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ModificaOffertaController</servlet-name>
        <servlet-class>controller.adm.Azienda.ModificaOffertaController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ModificaOffertaController</servlet-name>
        <url-pattern>/account/gestione-offerte/edit</url-pattern>
        <url-pattern>/Account/Gestione-offerte/Edit</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ViewOffertaController</servlet-name>
        <servlet-class>controller.adm.Azienda.ViewOffertaController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewOffertaController</servlet-name>
        <url-pattern>/account/gestione-offerte/view</url-pattern>
        <url-pattern>/Account/Gestione-offerte/View</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GestioneRichiesteTirocinioController</servlet-name>
        <servlet-class>controller.adm.Azienda.GestioneRichiesteTirocinioController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GestioneRichiesteTirocinioController</servlet-name>
        <url-pattern>/account/gestione-richieste</url-pattern>
        <url-pattern>/Account/Gestione-Richieste</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>PdfRichiestaTirocinioController</servlet-name>
        <servlet-class>controller.adm.PdfRichiestaTirocinioController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PdfRichiestaTirocinioController</servlet-name>
        <url-pattern>/account/moduli/richiesta-tirocinio</url-pattern>
        <url-pattern>/Account/Moduli/Richiesta-Tirocinio</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>PdfFineTirocinioController</servlet-name>
        <servlet-class>controller.adm.PdfFineTirocinioController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PdfFineTirocinioController</servlet-name>
        <url-pattern>/account/moduli/tirocinio</url-pattern>
        <url-pattern>/Account/Moduli/Tirocinio</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>PdfSegreteriaController</servlet-name>
        <servlet-class>controller.adm.PdfSegreteriaController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PdfSegreteriaController</servlet-name>
        <url-pattern>/account/moduli/segreteria</url-pattern>
        <url-pattern>/Account/Moduli/segreteria</url-pattern>
    </servlet-mapping>

    <!-- servlet errori-->
    <servlet>
        <servlet-name>404</servlet-name>
        <servlet-class>controller.errori.Errore404Controller</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>404</servlet-name>
        <url-pattern>/404</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>500</servlet-name>
        <servlet-class>controller.errori.Errore500Controller</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>500</servlet-name>
        <url-pattern>/500</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>403</servlet-name>
        <servlet-class>controller.errori.Errore403Controller</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>403</servlet-name>
        <url-pattern>/403</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>401</servlet-name>
        <servlet-class>controller.errori.Errore401Controller</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>401</servlet-name>
        <url-pattern>/401</url-pattern>
    </servlet-mapping>
    <!-- /servlet errori-->

    <servlet>
        <servlet-name>sceltaRichiesta</servlet-name>
        <servlet-class>controller.adm.Tirocinante.SceltaRichiestaTirocinioController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>sceltaRichiesta</servlet-name>
        <url-pattern>/sceltarichiesta</url-pattern>
        <url-pattern>/SceltaRichiesta</url-pattern>

    </servlet-mapping>

    <servlet>
        <servlet-name>invioRichiesta</servlet-name>
        <servlet-class>controller.adm.Tirocinante.InvioRichiestaTirocinioController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>invioRichiesta</servlet-name>
        <url-pattern>/inviorichiesta</url-pattern>
        <url-pattern>/InvioRichiesta</url-pattern>

    </servlet-mapping>


    <servlet>
        <servlet-name>mailer</servlet-name>
        <servlet-class>controller.SendManualMailController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>mailer</servlet-name>
        <url-pattern>/sendMail</url-pattern>
        <url-pattern>/SendMail</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>reset-pwd</servlet-name>
        <servlet-class>controller.ResetController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>reset-pwd</servlet-name>
        <url-pattern>/reset</url-pattern>
        <url-pattern>/Reset</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>impostazionetr</servlet-name>
        <servlet-class>controller.adm.Tirocinante.UpdateTirocinanteController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>impostazionetr</servlet-name>
        <url-pattern>/impostazioneTirocinante</url-pattern>
        <url-pattern>/impostazionetirocinante</url-pattern>

    </servlet-mapping>
    <!-- TODO eliminare SETPWD-->
    <servlet>
        <servlet-name>SetPWD</servlet-name>
        <servlet-class>controller.SetPWD</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SetPWD</servlet-name>
        <url-pattern>/setpwd</url-pattern>
        <url-pattern>/setPWD</url-pattern>
    </servlet-mapping>

    <error-page>
        <error-code>401</error-code>
        <location>/401</location>
    </error-page>
    <error-page>
        <error-code>403</error-code>
        <location>/403</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/404</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/500</location>
    </error-page>

    <error-page>
        <exception-type>javax.servlet.ServletException</exception-type>
        <location>/500</location>
    </error-page>
    <error-page>
        <exception-type>java.io.IOException</exception-type>
        <location>/500</location>
    </error-page>


    <servlet>
        <servlet-name>createtirocinio</servlet-name>
        <servlet-class>controller.adm.Azienda.CreateTirocinioController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>createtirocinio</servlet-name>
        <url-pattern>/createtirocinio</url-pattern>
        <url-pattern>/Createtirocinio</url-pattern>

    </servlet-mapping>
    <!--servelt account admin-->
<!--    <servlet>-->
<!--        <servlet-name>admin</servlet-name>-->
<!--        <servlet-class>controller.adm.Admin.AccountAdminController</servlet-class>-->
<!--    </servlet>-->
<!--    <servlet-mapping>-->
<!--        <servlet-name>admin</servlet-name>-->
<!--        <url-pattern>/admin</url-pattern>-->
<!--    </servlet-mapping>-->
    <servlet>
        <servlet-name>richiesteconvenzioni</servlet-name>
        <servlet-class>controller.adm.Admin.GestioneUtenza.AdminRichiesteConvenzioniController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>richiesteconvenzioni</servlet-name>
        <url-pattern>/admin/Richisteconvezioni</url-pattern>
        <url-pattern>/admin/richisteconvezioni</url-pattern>

    </servlet-mapping>


    <!--    Deprecated-->
    <!--    <servlet>-->
    <!--        <servlet-name>gestione-utenti</servlet-name>-->
    <!--        <servlet-class>controller.adm.Admin.GestioneUtenza.AdminFillTableController</servlet-class>-->
    <!--    </servlet>-->
    <!--    <servlet-mapping>-->
    <!--        <servlet-name>gestione-utenti</servlet-name>-->
    <!--        <url-pattern>/gestione-utenti</url-pattern>-->
    <!--        <url-pattern>/Gestione-utenti</url-pattern>-->

    <!--    </servlet-mapping>-->

    <servlet>
        <servlet-name>gestione-tirocinanti</servlet-name>
        <servlet-class>controller.adm.Admin.GestioneUtenza.ShowAllTirocinantiController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>gestione-tirocinanti</servlet-name>
        <url-pattern>/admin/gestione-tirocinanti</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>gestione-admin</servlet-name>
        <servlet-class>controller.adm.Admin.GestioneUtenza.ShowAllAdminController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>gestione-admin</servlet-name>
        <url-pattern>/admin/gestione-admin</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>gestione-tutori</servlet-name>
        <servlet-class>controller.adm.Admin.GestioneUtenza.ShowAllTutoriController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>gestione-tutori</servlet-name>
        <url-pattern>/admin/gestione-tutoti</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>gestione-aziende</servlet-name>
        <servlet-class>controller.adm.Admin.GestioneUtenza.ShowAllAziendeController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>gestione-aziende</servlet-name>
        <url-pattern>/admin/gestione-aziende</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>gestione-moduli-convenzione</servlet-name>
        <servlet-class>controller.adm.Admin.GestioneAzienda.AdminGestioneModuliConvenzioneController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>gestione-moduli-convenzione</servlet-name>
        <url-pattern>/admin/gestione-convenzione</url-pattern>
        <url-pattern>/admin/Gestione-Convenzione</url-pattern>

    </servlet-mapping>

    <servlet>
        <servlet-name>gestione-moduli-tirocinio</servlet-name>
        <servlet-class>controller.adm.Admin.GestioneTirocinio.AdminGestioneModuliTirocinioController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>gestione-moduli-tirocinio</servlet-name>
        <url-pattern>/admin/gestione-tirocinio</url-pattern>
        <url-pattern>/admin/Gestione-tirocinio</url-pattern>

    </servlet-mapping>
<!--    <servlet>-->
<!--        <servlet-name>gestione-account-admin</servlet-name>-->
<!--        <servlet-class>controller.adm.Admin.AdminGestioneAccountController</servlet-class>-->
<!--    </servlet>-->
<!--    <servlet-mapping>-->
<!--        <servlet-name>gestione-account-admin</servlet-name>-->
<!--        <url-pattern>/admin/gestione-account</url-pattern>-->
<!--    </servlet-mapping>-->

    <servlet>
        <servlet-name>accettaconv</servlet-name>
        <servlet-class>controller.adm.Admin.GestioneModuli.AdminAccettaConvenzione</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>accettaconv</servlet-name>
        <url-pattern>/admin/accetta</url-pattern>

    </servlet-mapping>

    <servlet>
        <servlet-name>PdfViewProva</servlet-name>
        <servlet-class>controller.adm.PdfViewProva</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PdfViewProva</servlet-name>
        <url-pattern>/pdfview/</url-pattern>
        <url-pattern>/PDFVIEW/</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>PdfViewConvenzione</servlet-name>
        <servlet-class>controller.adm.PdfViewConvenzione</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PdfViewConvenzione</servlet-name>
        <url-pattern>/pdfview/convenzione</url-pattern>
        <url-pattern>/PDFVIEW/convenzione</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>PdfViewRichiestaTirocinio</servlet-name>
        <servlet-class>controller.adm.PdfViewRichiestaTirocinio</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PdfViewRichiestaTirocinio</servlet-name>
        <url-pattern>/pdfview/richiestatirocinio</url-pattern>
        <url-pattern>/PDFVIEW/richiestatirocinio</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>PdfViewFineTirocinioAzienda</servlet-name>
        <servlet-class>controller.adm.PdfViewFineTirocinioAzienda</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PdfViewFineTirocinioAzienda</servlet-name>
        <url-pattern>/pdfview/finetirocinioazienda</url-pattern>
        <url-pattern>/PDFVIEW/finetirocinioazienda</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>PdfViewSegreteria</servlet-name>
        <servlet-class>controller.adm.PdfViewSegreteria</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PdfViewSegreteria</servlet-name>
        <url-pattern>/pdfview/segreteria</url-pattern>
        <url-pattern>/PDFVIEW/segreteria</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ProvaViewPDF</servlet-name>
        <servlet-class>controller.adm.ProvaViewPDF</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProvaViewPDF</servlet-name>
        <url-pattern>/prova/pdf</url-pattern>
        <url-pattern>/prova/Pdf</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>PdfAdminRichestaTirocinioController</servlet-name>
        <servlet-class>controller.adm.Admin.PdfAdminRichiestaTirocinioController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PdfAdminRichestaTirocinioController</servlet-name>
        <url-pattern>/admin/modulo/richiesta-tirocinio</url-pattern>
        <url-pattern>/Admin/Modulo/Richiesta-Tirocinio</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>PdfAdminFineTirocinioController</servlet-name>
        <servlet-class>controller.adm.Admin.PdfAdminFineTirocinioController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PdfAdminFineTirocinioController</servlet-name>
        <url-pattern>/admin/modulo/tirocinio</url-pattern>
        <url-pattern>/Admin/Modulo/Tirocinio</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>PdfAdminSegreteriaController</servlet-name>
        <servlet-class>controller.adm.Admin.PdfAdminSegreteriaController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PdfAdminSegreteriaController</servlet-name>
        <url-pattern>/admin/modulo/segreteria</url-pattern>
        <url-pattern>/Admin/Modulo/Segreteria</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>show-tirociante</servlet-name>
        <servlet-class>controller.adm.Admin.GestioneUtenza.ShowTirocinanteController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>show-tirociante</servlet-name>
        <url-pattern>/admin/show-tirocinante</url-pattern>

    </servlet-mapping>
    <servlet>
        <servlet-name>show-TRRichiedenti</servlet-name>
        <servlet-class>controller.adm.Admin.GestioneTirocinio.ShowTirocinatiRichientiController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>show-TRRichiedenti</servlet-name>
        <url-pattern>/admin/show-richiedenti</url-pattern>


    </servlet-mapping>
    <servlet>
        <servlet-name>reimposta-user</servlet-name>
        <servlet-class>controller.adm.Admin.GestioneUtenza.ReimpostaMailUserController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>reimposta-user</servlet-name>
        <url-pattern>/admin/reimposta-user</url-pattern>

    </servlet-mapping>
    <servlet>
        <servlet-name>show-azienda</servlet-name>
        <servlet-class>controller.adm.Admin.GestioneUtenza.ShowAziendaController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>show-azienda</servlet-name>
        <url-pattern>/admin/show-azienda</url-pattern>

    </servlet-mapping>
    <servlet>
        <servlet-name>modifica-tutore</servlet-name>
        <servlet-class>controller.adm.Admin.GestioneUtenza.ModificaTutoreController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>modifica-tutore</servlet-name>
        <url-pattern>/admin/modifica-tutore</url-pattern>
    </servlet-mapping>
<!--    Servlet per modificare il proprio account admin-->
    <servlet>
        <servlet-name>modifica-admin</servlet-name>
        <servlet-class>controller.adm.Admin.GestioneUtenza.ModificaAdminController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>modifica-admin</servlet-name>
        <url-pattern>/admin/modifica-Admin</url-pattern>
        <url-pattern>/admin/modifica-admin</url-pattern>

    </servlet-mapping>
    <servlet>
        <servlet-name>TutteOfferteTr</servlet-name>
        <servlet-class>controller.adm.Admin.GestioneTirocinio.OfferteTirocinioController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TutteOfferteTr</servlet-name>
        <url-pattern>/admin/OfferteTirocinioAdmin</url-pattern>
        <url-pattern>/admin/offertetirocinioadmin</url-pattern>

    </servlet-mapping>
    <servlet>
        <servlet-name>DisattivaOfferta</servlet-name>
        <servlet-class>controller.adm.Admin.GestioneTirocinio.DisattivaOffertaTirocinioController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DisattivaOfferta</servlet-name>
        <url-pattern>/admin/disattiva-offerta</url-pattern>

    </servlet-mapping>

    <servlet>
        <servlet-name>CreaAdmin</servlet-name>
        <servlet-class>controller.adm.Admin.GestioneUtenza.CreateAdminController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreaAdmin</servlet-name>
        <url-pattern>/admin/crea-admin</url-pattern>

    </servlet-mapping>


    <servlet>
        <servlet-name>CreaTutoreUni</servlet-name>
        <servlet-class>controller.adm.Admin.GestioneUtenza.CreateTutoreUniController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreaTutoreUni</servlet-name>
        <url-pattern>/admin/create-tutore</url-pattern>

    </servlet-mapping>


    <servlet>
        <servlet-name>VediRichiesta</servlet-name>
        <servlet-class>controller.adm.Admin.GestioneModuli.VisualizzaModuloRichietaTirocinioController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>VediRichiesta</servlet-name>
        <url-pattern>/admin/modulo-richista</url-pattern>

    </servlet-mapping>

    <servlet>
        <servlet-name>VediModuloAzienda</servlet-name>
        <servlet-class>controller.adm.Admin.GestioneModuli.VisualizzaModuloAziendaTirocinioController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>VediModuloAzienda</servlet-name>
        <url-pattern>/admin/modulo-azienda</url-pattern>

    </servlet-mapping>
    <servlet>
        <servlet-name>VediModuloSegreteria</servlet-name>
        <servlet-class>controller.adm.Admin.GestioneModuli.VisualizzaModuloSegreteriaTirocinioController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>VediModuloSegreteria</servlet-name>
        <url-pattern>/admin/modulo-segreteria</url-pattern>

    </servlet-mapping>

    <servlet>
        <servlet-name>CaricaModuloSegreteria</servlet-name>
        <servlet-class>controller.adm.Admin.GestioneModuli.VisualizzaModuloSegreteriaTirocinioController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CaricaModuloSegreteria</servlet-name>
        <url-pattern>/admin/carica-segreteria</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>VediConvenzioneAzienda</servlet-name>
        <servlet-class>controller.adm.Admin.GestioneModuli.VisualizzaConvenzioneAziendaController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>VediConvenzioneAzienda</servlet-name>
        <url-pattern>/admin/convezione-azienda</url-pattern>

    </servlet-mapping>

    <servlet>
        <servlet-name>InvalidaConvenzioneAzienda</servlet-name>
        <servlet-class>controller.adm.Admin.GestioneModuli.InvalidaConvenzioneAziendaController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InvalidaConvenzioneAzienda</servlet-name>
        <url-pattern>/admin/invalida-convenzione</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>InvalidaPDFAzienda</servlet-name>
        <servlet-class>controller.adm.Admin.GestioneModuli.InvalidaModuloAziendeTirocinioController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InvalidaPDFAzienda</servlet-name>
        <url-pattern>/admin/invalida-pdf-azienda</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>InvalidaPDFTirocinante</servlet-name>
        <servlet-class>controller.adm.Admin.GestioneModuli.InvalidaModuloRichiestaTirocinioController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InvalidaPDFTirocinante</servlet-name>
        <url-pattern>/admin/invalida-pdf-Tirocinante</url-pattern>


    </servlet-mapping>

    <servlet>
        <servlet-name>DisattivaAzienda</servlet-name>
        <servlet-class>controller.adm.Admin.GestioneUtenza.DistattivaAziendaController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DisattivaAzienda</servlet-name>
        <url-pattern>/admin/disattiva-azienda</url-pattern>

    </servlet-mapping>

    <servlet>
        <servlet-name>statoTutoreUni</servlet-name>
        <servlet-class>controller.adm.Admin.GestioneUtenza.StatoTutoreUniversitarioController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>statoTutoreUni</servlet-name>
        <url-pattern>/admin/stato-tutore</url-pattern>

    </servlet-mapping>
    <servlet>
        <servlet-name>showOfferta</servlet-name>
        <servlet-class>controller.adm.Admin.GestioneTirocinio.ShowOffertaTirocinio</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>showOfferta</servlet-name>
        <url-pattern>/admin/show-offerta</url-pattern>

    </servlet-mapping>
<!--    Servlet che crea il modulo ed da cui puoi stampare il pdf-->
    <servlet>
        <servlet-name>CreateModuloSegreteria</servlet-name>
        <servlet-class>controller.adm.Admin.GestioneModuli.CreaModificaModuloSegreteriaTirocinioController
        </servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateModuloSegreteria</servlet-name>
        <url-pattern>/admin/crea-modulosegreteria</url-pattern>
    </servlet-mapping>
    <!--    Servlet che salva il pdf caricato in precendenza-->
    <servlet>
        <servlet-name>SalvaModuloSegreteria</servlet-name>
        <servlet-class>controller.adm.Admin.GestioneModuli.CaricaModuloSegreteriaTirocinioController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SalvaModuloSegreteria</servlet-name>
        <url-pattern>/admin/salva-segreteria</url-pattern>


    </servlet-mapping>


    <!-- end servelt account admin-->


    <servlet>
        <servlet-name>data</servlet-name>
        <servlet-class>controller.data</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>data</servlet-name>
        <url-pattern>/Data</url-pattern>
        <url-pattern>/data</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Dashboard</servlet-name>
        <servlet-class>controller.adm.Admin.DashboardController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Dashboard</servlet-name>
        <url-pattern>/admin/dashboard</url-pattern>
    </servlet-mapping>


</web-app>