<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>Gestione Richieste tirocinio</title>

  <#include "importCss.ftl">
    <!-- PAGE LEVEL SCRIPTS -->
    <link href="css/header-1.css" rel="stylesheet" type="text/css"/>
    <link href="css/blue.css" rel="stylesheet" type="text/css" id="color_scheme"/>
    <link href="css/internshiptutor.css" rel="stylesheet" type="text/css">

    <!-- CSS DATATABLES -->
    <link href="css/layout-datatables.css" rel="stylesheet" type="text/css"/>
</head>
<body class="smoothscroll enable-animation">

<!-- wrapper -->
<div id="wrapper">
   <#include "header.ftl">

    <section class="page-header page-header-md parallax parallax-3 mt-130"
             style="background-image:url('imgs/imgpattern.jpg')">
        <div class="overlay dark-2"><!-- dark overlay [1 to 9 opacity] --></div>

        <div class="container">

            <h1>GESTIONE RICHIESTE DI TIROCINIO</h1>

            <!-- breadcrumbs -->
            <ol class="breadcrumb">
                <li><a href="index.html">Home</a></li>
                <li>Impostazione acccount</li>
            </ol><!-- /breadcrumbs -->

        </div>
    </section>

    <section class="section-sm centrale border-top-section pl-20 pr-20">
        <div class="container">
            <h1 class="mb-0">Richieste di Tirocinio Pendenti</h1>
            <div class="linea-divisione mt-15 mb-15"></div>

            <!-- Richieste di tirocinio pendenti -->
            <div class="card mb-50">
                <div class="card-header">
                    <i class="fa fa-table"></i> Richieste di tirocinio pendenti
                </div>
                <div class="card-body">
                    <form class="table-responsive" id="form_rispondi" action="print.php" method="post">

                        <table class="table table-striped table-bordered table-hover" id="datatable_1" width="100%"
                               cellspacing="0">
                            <thead>
                            <tr>
                                <th>Nome</th>
                                <th>Cognome</th>
                                <th>Titolo di Studio</th>
                                <th>E-mail</th>
                                <th>Stato Richiesta</th>
                                <th>Accetta richiesta</th>
                                <th>Declina richiesta</th>
                            </tr>
                            </thead>
                            <tfoot>
                            <tr>
                                <th>Nome</th>
                                <th>Cognome</th>
                                <th>Titolo di Studio</th>
                                <th>E-mail</th>
                                <th>Stato Richiesta</th>
                                <th>Accetta richiesta</th>
                                <th>Declina richiesta</th>
                            </tr>
                            </tfoot>
                            <tbody>

                            <tr>
                                <td>Tiger</td>
                                <td>Nixon</td>
                                <td>Edinburgh</td>
                                <td>2011/04/25</td>
                                <td>$320,800</td>
                                <td><input type="checkbox" class="checkboxes" name="Tiger" value="1"/> <i
                                        class="fa fa-check" style="color: green;"></i> Accetta
                                </td>
                                <td><input type="checkbox" class="checkboxes" name="Tiger" value="2"/> <i
                                        class="fa fa-times" style="color: red;"></i> Declina
                                </td>
                            </tr>
                            <tr>
                                <td>Garrett</td>
                                <td>Winters</td>
                                <td>Tokyo</td>
                                <td>63</td>
                                <td>2011/07/25</td>
                                <td><input type="checkbox" class="checkboxes" name="Garrett" value="1"/> <i
                                        class="fa fa-check" style="color: green;"></i> Accetta
                                </td>
                                <td><input type="checkbox" class="checkboxes" name="Garrett" value="2"/> <i
                                        class="fa fa-times" style="color: red;"></i> Declina
                                </td>
                            </tr>
                            <tr>
                                <td>Ashton</td>
                                <td>Cox</td>
                                <td>San Francisco</td>
                                <td>66</td>
                                <td>2009/01/12</td>
                                <td><input type="checkbox" class="checkboxes" name="Ashton" value="1"/> <i
                                        class="fa fa-check" style="color: green;"></i> Accetta
                                </td>
                                <td><input type="checkbox" class="checkboxes" name="Ashton" value="2"/> <i
                                        class="fa fa-times" style="color: red;"></i> Declina
                                </td>
                            </tr>
                            </tbody>
                        </table>

                        <footer class="text-center text-sm-right mt-25 ">
                            <button type="submit" form="form_rispondi"
                                    class="btn btn-success btn-lg pull-right float-sm-right mb-20"><i
                                    class="fa fa-check"></i> Aggiorna
                            </button>
                            <button type="reset" form="form_rispondi"
                                    class="btn btn-red btn-lg pull-right float-sm-left mb-20"><i
                                    class="fa fa-times"></i> Annulla
                            </button>
                        </footer>
                    </form>
                </div>
            </div>

            <h1 class="mb-0">Richieste di Tirocinio Accettate</h1>
            <div class="linea-divisione mt-15 mb-15"></div>
            <!-- Richieste di tirocinio accettate -->
            <div class="card mb-50">
                <div class="card-header">
                    <i class="fa fa-table"></i> Richieste di Tirocinio Accettate
                </div>
                <div class="card-body">
                    <form class="table-responsive" id="form_fine" action="print.php" method="post">
                        <table class="table table-striped table-bordered table-hover" id="datatable_2" width="100%"
                               cellspacing="0">
                            <thead>
                            <tr>
                                <th>Nome</th>
                                <th>Cognome</th>
                                <th>Titolo di Studio</th>
                                <th>E-mail</th>
                                <th>Stato Richiesta</th>
                                <th>Fine Tirocinio</th>
                                <th>Stampa Modulo</th>
                            </tr>
                            </thead>
                            <tfoot>
                            <tr>
                                <th>Nome</th>
                                <th>Cognome</th>
                                <th>Titolo di Studio</th>
                                <th>E-mail</th>
                                <th>Stato Richiesta</th>
                                <th>Fine Tirocinio</th>
                                <th>Stampa Modulo</th>
                            </tr>
                            </tfoot>
                            <tbody>
                            <tr>
                                <td>Tiger</td>
                                <td>Nixon</td>
                                <td>Edinburgh</td>
                                <td>2011/04/25</td>
                                <td>Tirocinio in corso</td>
                                <td><input type="checkbox" class="checkboxes" name="fin_Tiger" value="1"/> <i
                                        class="fa fa-check" style="color: green;"></i> Tirocinio finito
                                </td>
                                <td>
                                    <button type="button" class="btn btn-outline-danger"><i class="fa fa-print"></i>Non
                                        disponibile
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td>Garrett</td>
                                <td>Winters</td>
                                <td>Tokyo</td>
                                <td>63</td>
                                <td>Concluso il 2011/07/25</td>
                                <td><input type="checkbox" class="checkboxes" name="fin_Garret" value="1" checked
                                           disabled/> <i
                                        class="fa fa-check" style="color: green;"></i> Tirocinio finito
                                </td>
                                <td><a href="print.php">
                                    <button type="button" class="btn btn-outline-success"><i class="fa fa-print"></i>Stampa
                                        Modulo
                                    </button>
                                </a>
                                </td>
                            </tr>
                            <tr>
                                <td>Ashton</td>
                                <td>Cox</td>
                                <td>San Francisco</td>
                                <td>66</td>
                                <td>Concluso il 2009/01/12</td>
                                <td><input type="checkbox" class="checkboxes" name="fin_Ashton" value="1" checked
                                           disabled/> <i
                                        class="fa fa-check" style="color: green;"></i> Tirocinio finito
                                </td>
                                <td><a href="print.php">
                                    <button type="button" class="btn btn-outline-success"><i class="fa fa-print"></i>Stampa
                                        Modulo
                                    </button>
                                </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                        <footer class="text-center text-sm-right mt-25 ">
                            <button type="submit" form="form_fine"
                                    class="btn btn-success btn-lg pull-right float-sm-right mb-20"><i
                                    class="fa fa-check"></i> Aggiorna
                            </button>
                            <button type="reset" form="form_fine"
                                    class="btn btn-red btn-lg pull-right float-sm-left mb-20"><i
                                    class="fa fa-times"></i> Annulla
                            </button>
                        </footer>
                    </form>
                </div>
            </div>

            <h1 class="mb-0">Richieste di Tirocinio Declinate</h1>
            <div class="linea-divisione mt-15 mb-15"></div>
            <!-- Richieste di tirocinio accettate -->
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fa fa-table"></i> Richieste di Tirocinio Declinate
                </div>
                <div class="card-body">
                    <table class="table table-striped table-bordered table-hover" id="datatable_3" width="100%"
                           cellspacing="0">
                        <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Cognome</th>
                            <th>Titolo di Studio</th>
                            <th>E-mail</th>
                            <th>Stato Richiesta</th>
                        </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <th>Nome</th>
                            <th>Cognome</th>
                            <th>Titolo di Studio</th>
                            <th>E-mail</th>
                            <th>Stato Richiesta</th>
                        </tr>
                        </tfoot>
                        <tbody>
                        <tr>
                            <td>Tiger</td>
                            <td>Nixon</td>
                            <td>Edinburgh</td>
                            <td>2011/04/25</td>
                            <td>$320,800</td>
                        </tr>
                        <tr>
                            <td>Garrett</td>
                            <td>Winters</td>
                            <td>Tokyo</td>
                            <td>63</td>
                            <td>2011/07/25</td>
                        </tr>
                        <tr>
                            <td>Ashton</td>
                            <td>Cox</td>
                            <td>San Francisco</td>
                            <td>66</td>
                            <td>2009/01/12</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>

    <!-- /FOOTER-->
    <footer id="footer">
        <div class="container">

            <div class="row">

                <div class="col-md-3">
                    <div class="row">
                        <div class="col-4">
                            <!-- Footer Logo -->
                            <img class="footer-logo" src="http://www.disim.univaq.it/didattica/img/logo_univaq.png"
                                 alt=""/>
                        </div>
                        <div class="col-6 text-left py-5p">

                            <!-- Short Description -->
                            <a href="http://univaq.it">Università degli Studi dell'Aquila</a>
                        </div>
                    </div>
                    <!-- Contact Address -->
                    <address>
                        <ul class="list-unstyled">
                            <li class="footer-sprite address">
                                67100 L'Aquila, Coppito, Via Vetoio<br>
                            </li>
                            <li class="footer-sprite phone">
                                Phone: +39 0862 433002
                            </li>
                            <li class="footer-sprite phone">
                                Phone: +39 0862 433180 (fax)
                            </li>
                            <li class="footer-sprite email">
                                <a href="mailto:disim.sad@univaq.it">disim.sad@univaq.it</a>
                            </li>
                        </ul>
                    </address>
                    <!-- /Contact Address -->

                </div>


                <div class="col-md-4">

                    <!-- Newsletter Form -->
                    <h4 class="letter-spacing-1">INTERNSHIP TUTOR</h4>
                    <p>Internship Tutor rappresenta un sistema web per la gestione dell'iter completo dei tirocini
                        universitari del degli Studi dell'Aquila.</p>
                </div>


                <div class="col-md-3">

                    <!-- Latest Blog Posts -->
                    <h4 class="letter-spacing-1">ULTIME OFFERTE PUBLICATE</h4>
                    <ul class="footer-posts list-unstyled">
                        <li>
                            <a href="#">L'azienda PACARO srl, sede di Borgorose (RI), ricerca tirocinanti</a>
                            <small>29 June 2017</small>
                        </li>
                        <li>
                            <a href="#">Tirocini e stage retributi presso la Gunpowder S.r.l. (Spinoff Univ.
                                L'Aquila)</a>
                            <small>29 June 2017</small>
                        </li>
                        <li>
                            <a href="#">Tirocinio presso Aveja</a>
                            <small>29 June 2017</small>
                        </li>
                    </ul>
                    <!-- /Latest Blog Posts -->

                </div>

                <div class="col-md-2">

                    <!-- Links -->
                    <h4 class="letter-spacing-1">LINK UTILI</h4>
                    <ul class="footer-links list-unstyled">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Lista Offerte Tuttoraggi</a></li>
                        <li><a href="#">Lista Convenzioni</a></li>
                        <li><a href="#">Contattaci</a></li>
                        <li><a href="#">Il Mio Accout</a></li>
                        <li><a href="#">I Miei Tirocini</a></li>

                    </ul>
                    <!-- /Links -->

                </div>


            </div>

        </div>

        <div class="copyright">
            <div class="container">
                <ul class="float-right m-0 list-inline mobile-block">
                    <li><a href="#">Terms & Conditions</a></li>
                    <li>&bull;</li>
                    <li><a href="#">Privacy</a></li>
                </ul>
                &copy; All Rights Reserved, INTERNSHIP TUTOR
            </div>
        </div>
    </footer>
    <!-- /FOOTER -->
</div>

<!-- JAVASCRIPT FILES -->
<script>var plugin_path = 'plugins/';</script>
<script src="plugins/jquery/jquery-3.3.1.min.js"></script>
<script src="js/scripts.js"></script>
<script src="plugins/bootstrap/js/bootstrap.js"></script>
<script src="js/internshiptutor.js"></script>

<!-- Script page -->
<script src="plugins/datatables/js/jquery.dataTables.min.js"></script>
<script src="plugins/datatables/js/dataTables.tableTools.min.js"></script>
<script src="plugins/datatables/js/dataTables.colReorder.min.js"></script>
<script src="plugins/datatables/js/dataTables.scroller.min.js"></script>
<script src="plugins/datatables/dataTables.bootstrap.js"></script>
<script src="plugins/select2/js/select2.full.min.js"></script>
<script>
    function initTablePendenti() {

        var table = jQuery('#datatable_1');

        var oTable = table.dataTable({
            "columns": [{
                "orderable": true
            }, {
                "orderable": true
            }, {
                "orderable": true
            }, {
                "orderable": true
            }, {
                "orderable": true
            }, {
                "orderable": false
            }, {
                "orderable": false
            }],
            "order": [
                [1, 'asc'],
            ],
            "lengthMenu": [
                [5, 15, 20, -1],
                [5, 15, 20, "Tutti"] // change per page values here
            ],
            "language": {
                "search": "Filtra i record:",
                "emptyTable": "Nessun dato disponibile nella tabella",
                "zeroRecords": "Nessuna corrispondenza trovata",
                "info": "Mostra da _START_ a _END_ di _TOTAL_ voci",
                "infoEmpty": "Nessuna voce da mostrare",
                "infoFiltered": " (filtrato da _MAX_ voci totali)"
            },
            "pageLength": 10, // set the initial value,
            "columnDefs": [{  // set default column settings
                'orderable': true,
                'targets': [0]
            }, {
                "searchable": true,
                "targets": [0]
            }],
        });

        var oTableColReorder = new $.fn.dataTable.ColReorder(oTable);

        var tableWrapper = jQuery('#datatable_wrapper'); // datatable creates the table wrapper by adding with id {your_table_jd}_wrapper
        tableWrapper.find('.dataTables_length select').select2(); // initialize select2 dropdown
    }

    function initTableAccettati() {

        var table = jQuery('#datatable_2');

        var oTable = table.dataTable({
            "columns": [{
                "orderable": true
            }, {
                "orderable": true
            }, {
                "orderable": true
            }, {
                "orderable": true
            }, {
                "orderable": true
            }, {
                "orderable": false
            }, {
                "orderable": true
            }],
            "order": [
                [1, 'asc'],
            ],
            "lengthMenu": [
                [5, 15, 20, -1],
                [5, 15, 20, "Tutti"] // change per page values here
            ],
            "language": {
                "search": "Filtra i record:",
                "emptyTable": "Nessun dato disponibile nella tabella",
                "zeroRecords": "Nessuna corrispondenza trovata",
                "info": "Mostra da _START_ a _END_ di _TOTAL_ voci",
                "infoEmpty": "Nessuna voce da mostrare",
                "infoFiltered": " (filtrato da _MAX_ voci totali)"
            },
            "pageLength": 10, // set the initial value,
            "columnDefs": [{  // set default column settings
                'orderable': true,
                'targets': [0]
            }, {
                "searchable": true,
                "targets": [0]
            }],
        });

        var oTableColReorder = new $.fn.dataTable.ColReorder(oTable);

        var tableWrapper = jQuery('#datatable_wrapper'); // datatable creates the table wrapper by adding with id {your_table_jd}_wrapper
        tableWrapper.find('.dataTables_length select').select2(); // initialize select2 dropdown
    }

    function initTableDeclinati() {

        var table = jQuery('#datatable_3');

        var oTable = table.dataTable({
            "columns": [{
                "orderable": true
            }, {
                "orderable": true
            }, {
                "orderable": true
            }, {
                "orderable": true
            }, {
                "orderable": true
            }],
            "order": [
                [1, 'asc'],
            ],
            "lengthMenu": [
                [5, 15, 20, -1],
                [5, 15, 20, "Tutti"] // change per page values here
            ],
            "language": {
                "search": "Filtra i record:",
                "emptyTable": "Nessun dato disponibile nella tabella",
                "zeroRecords": "Nessuna corrispondenza trovata",
                "info": "Mostra da _START_ a _END_ di _TOTAL_ voci",
                "infoEmpty": "Nessuna voce da mostrare",
                "infoFiltered": " (filtrato da _MAX_ voci totali)"
            },
            "pageLength": 10, // set the initial value,
            "columnDefs": [{  // set default column settings
                'orderable': true,
                'targets': [0]
            }, {
                "searchable": true,
                "targets": [0]
            }],
        });

        var oTableColReorder = new $.fn.dataTable.ColReorder(oTable);

        var tableWrapper = jQuery('#datatable_wrapper'); // datatable creates the table wrapper by adding with id {your_table_jd}_wrapper
        tableWrapper.find('.dataTables_length select').select2(); // initialize select2 dropdown
    }


    // Table Init
    initTablePendenti();
    initTableAccettati();
    initTableDeclinati();


    $("tr td input[type=checkbox]").click(enable_cb);


    function enable_cb() {
        if (this.checked) {
            console.log(this);
            $(this).closest("tr").children().children().attr("disabled", "true").addClass('grey');
            $(this).removeAttr("disabled").next().removeClass('grey');

        } else {
            $(this).closest("tr").children().children().removeAttr("disabled");
            $(this).closest("tr").children().children().removeClass('grey');
        }
    }

    // if ($("td input[type=checkbox]:first-child").checked){
    //     console.log(this.next());
    // }
</script>
<!-- /Script page -->
</body>
</html>